@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Primary Colors */
  --color-primary-purple: #9267a0;
  --color-primary-gold: #b87a08;

  /* Secondary Colors */
  --color-text-title: #333333;
  --color-secondary-text: #999999;
  --color-about-text: #000000;

  /* Secondary Background Colors */
  --color-background-card: #f2f2f2;
  --color-background-color: #fcfcfc;
  --color-input-background: #d9d9d95c;

  /* Accent Colors */
  --color-accent-yellow: #f4b400;
  --color-accent-light-yellow: #fff9e5;

  /* Max Width */
  --container-max-width: 1280px;
}

body {
  background-color: var(--color-background-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
